/*==================================================================

REGIONS DEMO | MASTER CSS v.1.0
CREATED BY: Nicholas Holloway

===================================================================*/
html {
  font-family: "Source Sans Pro", sans-serif;
  background: #EEEFF2;
}

.dsws-l-layoutTmp {
  margin: 90px 135px;
  margin: 9% 9.25%;
}

.dsws-l-grid {
  display: flex;
  flex: 0 0 calc(50% - .50rem);
}

.dsws-c-textHeading__large {
  font-size: 48px;
  font-weight: 300;
  color: #333333;
  margin: 0px 0px 30px;
  line-height: 60px;
}

.dsws-c-card {
  display: flex;
  margin: 1rem 0;
  padding: 0;
  transition: all 0.4s;
  width: 100%;
}

.dsws-c-card__imageContainer {
  flex: 0 0 50%;
}

.dsws-c-card__image {
  width: 100%;
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.dsws-c-card__tag {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #ffffff;
  color: #333333;
  letter-spacing: 0.8px;
  padding: 4px 7px;
}
.dsws-c-card__tag small {
  position: relative;
}
.dsws-c-card__tag--gold {
  border-left: 5px solid #F7B500;
}
.dsws-c-card__tag--blue {
  border-left: 5px solid #32C5FF;
}

.dsws-c-card__content {
  flex: 1;
  background: #ffffff;
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
}
.dsws-c-card__content--md {
  padding: 30px 20px;
}

.dsws-c-card__cta {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0px 0px 6px 0px;
}

.dsws-c-card__city {
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #333333;
  letter-spacing: -0.3px;
  margin: 10px 0px;
}
.dsws-c-card__city--md {
  font-size: 24px;
}

.dsws-c-card__date {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #333333;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0px;
}
.dsws-c-card__date--md {
  font-size: 14px;
  margin: 5px 0px;
}

.dsws-c-card__body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: left;
  line-height: 28px;
}
.dsws-c-card__body--md {
  font-size: 16px;
  line-height: 20px;
  margin-top: 0px;
}

/* UTILITIES */
.dsws-u-marginRight__3x {
  margin-right: 30px;
}

.dsws-u-card__tag--align {
  position: absolute;
  top: 20px;
  left: -5px;
}

.dsws-u-position__relative {
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .dsws-l-grid {
    display: block;
  }

  .dsws-c-card {
    flex-direction: column;
  }

  .dsws-u-marginRight__3x {
    margin-right: none;
  }
}

/*# sourceMappingURL=global.css.map */
