/*==================================================================

REGIONS DEMO | MASTER CSS v.1.0
CREATED BY: Nicholas Holloway

===================================================================*/

html {
    font-family: $font-family;
    background: $gray-light;
}

.dsws-l-layoutTmp {
    margin: 90px 135px;
    margin: 9% 9.25%;
}

.dsws-l-grid {
    display: flex;
    flex: 0 0 calc(50% - .50rem);
}

.dsws-c-textHeading__large {
    font-size: $font-size-48;
    font-weight: $font-light;
    color: $black;
    margin: 0px 0px 30px;
    line-height: 60px;
}

.dsws-c-card {
    display: flex;
    margin: 1rem 0;
    padding: 0;
    transition: all 0.4s;
    width: 100%;
}

.dsws-c-card__imageContainer {
    flex: 0 0 50%;
}

.dsws-c-card__image {
    width: 100%;
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.dsws-c-card__tag {
    font-size: $font-size-14;
    font-family: $font-family;
    font-weight: $font-semibold;    
    text-transform: uppercase;
    background: $white;
    color: $black;
    letter-spacing: 0.8px;
    padding: 4px 7px;

    small {
        position: relative;
    }

    &--gold {
        border-left: 5px solid $gold;
    }

    &--blue {
        border-left: 5px solid $blue;
    }
}

.dsws-c-card__content {
    flex: 1;
    background: $white;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;

    &--md {
        padding: 30px 20px;
    }
}

.dsws-c-card__cta {
    font-size: $font-size-14;
    font-family: $font-family;
    font-weight: $font-regular;
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0px 0px 6px 0px;
}

.dsws-c-card__city {
    font-size: $font-size-30;
    font-family: $font-family;
    font-weight: $font-bold;
    color: $black;
    letter-spacing: -0.3px;
    margin: 10px 0px;

    &--md {
        font-size: $font-size-24;
    }
}

.dsws-c-card__date {
    font-size: $font-size-16;
    font-family: $font-family;
    font-weight: $font-bold;
    color: $black;   
    letter-spacing: 1px; 
    text-transform: uppercase;
    margin: 10px 0px;

    &--md {
        font-size: $font-size-14;
        margin: 5px 0px;
    }
}

.dsws-c-card__body {
    font-family: $font-family;
    font-size: $font-size-18;
    color: $black;
    text-align: left;
    line-height: 28px;

    &--md {
        font-size: $font-size-16;
        line-height: 20px;
        margin-top: 0px;
    }
}


/* UTILITIES */

.dsws-u-marginRight__3x {
    margin-right: 30px;
}

.dsws-u-card__tag--align {
    position: absolute;
    top: 20px;
    left: -5px;
}

.dsws-u-position__relative {
    position: relative;
}


@media only screen and (max-width: $breakpoint-md) {

    .dsws-l-grid {
        display: block;
    }

    .dsws-c-card {
        flex-direction: column;
    }

    .dsws-u-marginRight__3x {
        margin-right: none;
    }
}