//============================================\\
//============== COLOR PALETTE ===============\\
//============================================\\

$white:                  #ffffff !default;
$black:                  #333333 !default;
$gray:                   #888888 !default; 
$gray-light:             #EEEFF2 !default;
$gold:                   #F7B500 !default;
$blue:                   #32C5FF !default;

//============================================\\
//=============== TYPOGRAPHY =================\\
//============================================\\

//FONT-FAMILY
$font-family: 'Source Sans Pro', sans-serif;


//FONT-WEIGHT
$font-light:        300;
$font-regular:      400;
$font-semibold:     600;
$font-bold:         700;

  
//FONT-SIZE

$font-size-48:	48px;
$font-size-30:	30px;
$font-size-24:	24px;
$font-size-20:	20px;
$font-size-18:	18px;
$font-size-16:	16px;
$font-size-14:	14px;


//============================================\\
//============= MOBILE OPTIONS ===============\\
//============================================\\

$breakpoint-xs:	480px;
$breakpoint-sm: 640px;
$breakpoint-md:	1024px;